= form_for @restaurant do |f|
  = f.label :name
  = f.text_field :name
  = f.label :description
  = f.text_area :description
  = f.submit
%h6= link_to "Delete #{@restaurant.name}", restaurant_path(@restaurant), method: :delete
