- if @restaurants.any?
	- @restaurants.each do |restaurant|
		%h2= link_to restaurant.name, restaurant_path(restaurant)
		="Average Rating : #{restaurant.average_rating}"
		%br
		= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
		- if user_signed_in?
			= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
		%br
- else
	%h1 No restaurants yet

- if user_signed_in?
	%br
	%br
	%a(href='/restaurants/new') Add a restaurant
