!!!
%html
  %head
    %title YelpClone
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = yield


    - if @restaurants.any?
      - @restaurants.each do |restaurant|
        %h3= link_to restaurant.name, restaurant_path(restaurant)
        %h5= restaurant.description
        %h6= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)

    - else
      %h2 No restaurants yet!
      %a(href='restaurants/new') Add a restaurant
