%p= @restaurant.name
%p= @restaurant.description
- if @restaurant.reviews.any?
  %p Reviews:
  - @restaurant.reviews.each do |review|
    %p= "#{review.rating}: #{review.thoughts}"
- else
  %p No reviews yet
